* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    height: 75vh;
}

section {
    width: 60%;
    margin: 0 auto;
    margin-top: 150px;
}

.title {
    width: 75%;
    margin: 0 auto;
    border: solid 1px #30336b;
    border-radius: 25px;
    padding: 25px;
    background-color: #7ed6df;

    display: inline-block;
    position: relative;
    bottom: -40px;
    right: -12.5%;
    text-align: center;
}



.content {
    border: solid 1px #30336b;
    border-radius: 25px;
    padding: 30px;
    padding-top: 60px;
    background-color: #686de0;
    color: #dff9fb;
    text-align: justify;
}